In [29]:
#Load packages for data exploration
import os
import glob
from collections import OrderedDict
import pandas as pd
import numpy as np
import pickle
from datetime import datetime

In [9]:
#Make sure working directory is correct
os.chdir(r"C:\Users\Tom\OneDrive\Source\repos\BAC measure")

In [10]:
#Load accelerometer data into a Pandas data frame
filename = r"data\all_accelerometer_data_pids_13.csv"
accel_data = pd.read_csv(filename)
accel_data

                   time     pid         x         y         z
0                     0  JB3156  0.000000  0.000000  0.000000
1                     0  CC6740  0.000000  0.000000  0.000000
2         1493733882409  SA0297  0.075800  0.027300 -0.010200
3         1493733882455  SA0297 -0.035900  0.079400  0.003700
4         1493733882500  SA0297 -0.242700 -0.086100 -0.016300
...                 ...     ...       ...       ...       ...
14057562  1493829248196  CC6740 -0.133956  0.124726 -0.010736
14057563  1493829248220  CC6740 -0.100764  0.180872  0.046449
14057564  1493829248245  CC6740 -0.131853  0.195934  0.181088
14057565  1493829248270  CC6740 -0.149704  0.194482  0.202393
14057566  1493829248294  CC6740 -0.107288  0.153548  0.168595

[14057567 rows x 5 columns]

In [28]:
#List out user identifiers
users = ["BK7610", "BU4707", "CC6740", "DC6359", "DK3500", "HV0618", "JB3156", "JR8022", 
         "MC7070", "MJ8002", "PC6771", "SA0297", "SF3079"]

#Retrieve list of file paths for each participant's TAC recording
filenames = glob.glob(os.path.join("data", "clean_tac", "*clean_tac.csv"))

#Create a dictionary, the key is the user identifier and the value is the csv output of their TAC recording
dict_of_df = OrderedDict((os.path.basename(f)[0:5], pd.read_csv(f)) for f in filenames)

#Create a dataframe with the key intact so we can identify each user 
TAC_df = pd.concat(dict_of_df, sort=True)

#Drop the key into a column
TAC_df.reset_index(level=0, inplace=True)
TAC_df.rename(columns={"level_0": "pid"})

      pid  TAC_Reading   timestamp
0   BK761    -0.000482  1493718714
1   BK761     0.001573  1493720697
2   BK761     0.002144  1493721027
3   BK761     0.000877  1493721357
4   BK761    -0.001145  1493721686
..    ...          ...         ...
49  SF307     0.029049  1493797974
50  SF307     0.016286  1493799820
51  SF307     0.004243  1493801652
52  SF307    -0.001995  1493803481
53  SF307    -0.002919  1493805310

[715 rows x 3 columns]

In [30]:
timestamp = 1493718714
dt_object = datetime.fromtimestamp(timestamp)
print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

#Plot out timestamp values by pid and for both the TAC and accelemoter tables. Do they all follow the same range. How less frequent is the TAC reading - do we need to calculate a window for the TAC reading?
#Were all the participants on the same bar crawl?

dt_object = 2017-05-02 10:51:54
type(dt_object) = <class 'datetime.datetime'>